#-*-Makefile-*- vim:syntax=make

PLATFORM = inga
SENSORBOARD ?= 
PROGRAMMER ?= avrdude

DEFAULT_PROGRAM = avr109
AVR109 ?= /dev/ttyUSB0
AVR109_BAUDRATE ?= 230400

RESET_LINE ?= inga_tool -d $(AVR109)

ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -patmega1284p
endif

# not tested
# ifeq ($(PROGRAMMER),avarice)
#   PROGRAMMER_PART ?= --part atmega1284p
#   JTAGICEMKII ?= usb:3fc4
# endif

PFLAGS += -I$(TOSDIR)/lib/net/blip
PFLAGS += -I$(TOSDIR)/lib/net/blip/interfaces
PFLAGS += -I$(TOSDIR)/lib/net/blip/platform

ifdef RF230_CHANNEL
PFLAGS += -DRF230_DEF_CHANNEL=$(RF230_CHANNEL)
endif

$(call TOSMake_include_platform,avr)

inga: $(BUILD_DEPS)
	@:
